/* Telas mobile */
@media screen and (max-width: 1024px) {
    html {
        margin: 0;
        padding: 0;
        height: 100vh;
    }
    
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        overflow: visible;
        display: flex;
        flex-direction: column;
    }

    #singlePlayer, #multiPlayer, #joinButton {
        font-size: 44px;
        width: 80vw;
        margin: 10vw;
        transition: width 500ms;
    }

    #gameMode {
        padding-top: 25vh;
    }

    #gameMode #joinFormDiv {
        font-size: 44px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 42px;
    }

    #grey_board, #orange_board, #green_board, #blue_board {
        display: block;
        width: 80vw;
        margin: 6px;
    }

    .ui.button {
        font-size: 24px;
    }

    .black-3c85d {
        background-color: #E1E1E1;
        color: #FFFFFF;
    }
    
    .white-1e1d7 {
        background-color: #FFFFFF;
        color: #E1E1E1;
    }
    
    .formInput {
        border: 1px solid gray;
        height: 50px;
        border-radius: 4px;
        width: 300px;
        margin: 10px;
        padding: 0 4px;
    }
    
    .myMessage{
        text-align: right;
        padding: 8px;
        background-color: #E0E0E0;
        font-size: 17px;
        margin-bottom: 10px;
        margin-right: 7px;
        clear:both;
        float : right;
        border-radius: 5px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
    }
    
    .youMessage{
        text-align: left;
        padding: 8px;
        background-color: #616161;
        color: white;
        font-size: 17px;
        margin-bottom: 10px;
        clear:both;
        border-radius: 5px;
        float : left;
    }

    .ui.secondary.menu {
        height: 10vh;
    }

    .ui.button {
        height: 5vh;
    }

    .ui.basic.label {
        font-size: 48px;
    }
}

/* Telas de computador */
@media screen and (min-width: 1025px) {
    html {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    
    body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: visible;
        display:flex;
        flex-direction:column;
    }

    #singlePlayer, #multiPlayer, #joinButton {
        font-size: 28px;
        width: 300px;
        transition: width 500ms;
    }

    #gameMode #joinFormDiv {
        padding-top: 25vh;
        padding: 10px;
        margin-top: 8%;
        font-size: 35px;
    }

    #singlePlayer, #multiPlayer, #joinButton{
        padding: 20px;
        margin: 10px;
     }
    
    #grey_board, #orange_board, #green_board, #blue_board {
        width: 130px;
        margin: 6px;
    }

     .black-3c85d {
        background-color: #E1E1E1;
        color: #FFFFFF;
    }
    
    .white-1e1d7 {
        background-color: #FFFFFF;
        color: #E1E1E1;
    }
    
    .formInput {
        border: 1px solid gray;
        height: 50px;
        border-radius: 4px;
        width: 300px;
        margin: 10px;
        padding: 0 4px;
    }
    
    .myMessage{
        text-align: right;
        padding: 8px;
        background-color: #E0E0E0;
        font-size: 17px;
        margin-bottom: 10px;
        margin-right: 7px;
        clear:both;
        float : right;
        border-radius: 5px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
    }
    
    .youMessage{
        text-align: left;
        padding: 8px;
        background-color: #616161;
        color: white;
        font-size: 17px;
        margin-bottom: 10px;
        clear:both;
        border-radius: 5px;
        float : left;
    }
}


